/* Main CSS for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    /* background: url('../images/ubuntu-logo-background.jpg') no-repeat center center fixed; */
    background: url('../images/wallpaper-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    background-color: #f4f7f6;
    padding: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    /* color: #2c3e50; */
}

.subtitle {
    font-size: 1.2rem;
    /* color: #7f8c8d; */
    font-style: italic;
}

/* Project cards */
.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 340px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card-content {
    padding: 25px;
    text-align: center;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #2c3e50;
}

.card p {
    margin-bottom: 20px;
    color: #7f8c8d;
}

.card-image {
    height: 120px;
    margin: 15px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.magic8-icon {
    background-image: url('../images/magic8ball.jpg');
}

.shipping-icon {
    background-image: url('../images/packages.jpg');
}

.btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

main {
    flex: 1;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: #6d6e6e;
    padding-top: 20px;
    /* border-top: 1px solid #ddd; */
    background-color: #f4f7f6;
    padding: 20px;
    border-radius: 10px;
}

.social-links a {
    margin: 10px 10px;
    padding-top: 5px;
    color: #333;
  }
  
  .social-links i {
    width: 24px;
    height: 24px;
  }
  

/* Responsive design */
@media (max-width: 768px) {
    .project-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }
}
