{% extends 'base.html' %}

{% block title %}Home | Codecademy Projects by Heath Babb{% endblock %}

{% block content %}
<section class="project-cards">
  <article class="card">
    <a href="/magic8ball" class="card-link">
      <div class="card-content">
        <h2>Magic 8 Ball</h2>
        <p>Ask the mystical Magic 8 Ball any question and receive wisdom from beyond!</p>
        <div class="card-image magic8-icon"></div>
        <div class="btn">Try it out</div>
      </div>
    </a>
  </article>

  <article class="card">
    <a href="/shipping" class="card-link">
      <div class="card-content">
        <h2>Shipping Calculator</h2>
        <p>Calculate shipping costs based on weight and destination.</p>
        <div class="card-image shipping-icon"></div>
        <div class="btn">Try it out</div>
      </div>
    </a>
  </article>
</section>
{% endblock %}
